@page "/"

<PageTitle>GeradorQRCode</PageTitle>

@if (@campoVazio == true)
{
    <h5 class="QrCodeFormulario text-danger">@mensagemErro</h5>
}
<div class="QrCodeFormulario">
    <h1>Gerador QrCode</h1>
    <InputText id="Url" name="Url" class="form-control-sm mb-1"@bind-Value="@url"></InputText>
    <button type="submit" @onclick="GerarQrCodeClick"
            class="btn btn-primary shadow-none fs-6">
            <b>Criar QrCode</b>
    </button>
</div>

<div class="QrCodeImagem">
    @if (!string.IsNullOrEmpty(imagemQRCode))
    {
        <img src="@imagemQRCode" alt="QR Code" />
    }
</div>

@code {

    private string? imagemQRCode { get; set; }
    private string? mensagemErro { get; set; }
    private bool campoVazio { get; set; }
    private string? url { get; set; }

    private void GerarQrCodeClick( )
    {
        if (string.IsNullOrEmpty(url))
        {
            campoVazio = true;
            mensagemErro = "Digite a Url no Campo abaixo!!!";
        }
        else
        {
            campoVazio = false;
            imagemQRCode = GeradorQrCode.GerarQrCodePelaUrl(url!);
        }
    }
}
