.QrCodeFormulario{
    flex: 1;
    text-align: center;
}

.QrCodeImagem {
    flex: 1;
    position: relative;
    text-align: center;
    margin-top: 2%;
}
    .QrCodeImagem > img {
        height: 250px;
        width: 250px;
    }